body{
    /*background-color: #eaceac;*/
    background-color: magenta;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1000;
    text-transform: uppercase;
    text-align: center;
}

.topbar {
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 1;
    background: #472d1b;
    overflow-x: hidden;
    padding: 20px 0;
  }
  
  .topbar a {
    text-align: center;
    text-decoration: none;
    font-size: 100px;
    color: #ffffff;
    display: block;
  }
  .sideimage {
    max-width: fit-content;
    height: auto;
  }
